/* prettier-ignore */
$max-width: 1024PX;

/* prettier-ignore */
$min-width: 1025PX;

/* global main color */
$main-color: #00c04f;
/* global main background color */
$main-background-color: #e6f9ef;
